html{
  font-size: 12px;
  font-family: "微软雅黑 Light";
}
html,body{
  width: 100%;
  height: 100%;
}
.swiper-container{
  height: 100%;
}
img{
  display: block;
}
.swiper-slide-bg{
  background: url("../images/bg.jpg");
  background-size: cover;
}
.swiper-pagination-bullet, .swiper-pagination-bullet-active{
  width: 0.5rem;
  height: 0.5rem;
  background:rgba(255,255,255,.8);
}
.up-Arrow{
  position: fixed;
  width: 2rem;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  animation: breath 2.5s ease 0s infinite alternate forwards;
}
@keyframes breath {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.ani{
  position:absolute;
}
.s1-t2{
  width:104px;
  height:117px;
  left:70px;
  top:180px;
  z-index:3;
}
.s1-t1{
  width:60px;
  height:110px;
  left:220px;
  top:185px;
  z-index:3;
}
.flower{
  width:180px;
  height:220px;
  left:0;
  top:0;
  z-index:2;
}
.s1{
  width:320px;
  height:233px;
  left:0;
  top:140px;
  z-index:1;
}
.s2-i5,.s3-i5{
  width:263px;
  height:187px;
  left:31px;
  top:262px;
  z-index:5;
  border-radius:20px;
}
.s2-i4,.s3-i4{
  width:195px;
  height:163px;
  left:31px;
  top:48px;
  z-index:4;
}
.s2-i3{
  width:212px;
  height:186px;
  left:24px;
  top:36px;
  z-index:3;
}
.s2-i2,.s3-i2{
  width:64px;
  height:221px;
  left:237px;
  top:20px;
  z-index:2;
}
.s2-i1{
  width:42px;
  height:192px;
  left:248px;
  top:27px;
  z-index:1;
}

.poem-title{
  width:60px;
  height:110px;
  left:260px;
  top:205px;
  z-index:3;
  color:#b60927;
  font-size:160%;
}
.poem-con{
  width:120px;
  height:110px;
  left:110px;
  top:205px;
  z-index:3;
}
.poem-con > .txt > p{
  width:15px;
  color:#b60927;
  display:inline-block;
  font-size:90%;
  line-height:1;
  margin-right:10px;
}
.poem-title > .txt > i{
  display: block;
  margin: 0.8rem 0;
  font-weight:bold;
}

